###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

# filesystem configuration
/config/packages/oneup_flysystem.yaml

/.idea
/supervisord.log
/supervisord.pid
/docs/build
/examples/docker-s3-api-client/.env

# bower
/public/minimumui/components

/config/ids_mapping.yaml

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

# bahub
/client/bahub.egg-info
/client/build
/client/.idea
/client/supervisord.log
/client/supervisord.pid
*.pyc
