# filesystem configuration
/config/packages/oneup_flysystem.yaml
/server/.idea
/bahub-client/.idea

/.idea
/supervisord.log
/supervisord.pid
/docs/build
/examples/docker-s3-api-client/.env

# bower
/public/minimumui/components

/config/ids_mapping.yaml

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

# bahub
/bahub-client/bahub.egg-info
/bahub-client/build
/bahub-client/.idea
/bahub-client/supervisord.log
/bahub-client/supervisord.pid
*.pyc

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###


/server/env/.data/postgresql
