user www-data;
daemon off;
worker_processes {{ NGINX_WORKER_PROCESSES }};
pid /home/backuprepository/nginx.pid;

events {
    worker_connections {{ NGINX_WORKER_CONNECTIONS }};
    # multi_accept on;
}

http {
    sendfile {{ NGINX_SENDFILE }};
    tcp_nopush {{ NGINX_TCP_NOPUSH }};
    tcp_nodelay {{ NGINX_TCP_NODELAY }};
    keepalive_timeout {{ NGINX_KEEPALIVE_TIMEOUT }};
    types_hash_max_size {{ NGINX_TYPES_HASH_MAX_SIZE }};
    client_max_body_size {{ NGINX_CLIENT_MAX_BODY_SIZE }};
    server_tokens off;
    max_ranges 1;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    fastcgi_temp_file_write_size {{ NGINX_FCGI_TEMP_WRITE_SIZE }};
    fastcgi_busy_buffers_size {{ NGINX_FCGI_BUSY_BUFF_SIZE }};
    fastcgi_buffer_size {{ NGINX_FCGI_BUFF_SIZE }};
    fastcgi_buffers {{ NGINX_FCGI_BUFFERS }};
    proxy_request_buffering {{ NGINX_REQUEST_BUFFERING }};

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    gzip {{ NGINX_GZIP }};
    gzip_disable "msie6";

    server {
        listen 80 default_server;
        server_name _;

        root /home/backuprepository/public;
        index index.html index.php;

        client_header_timeout {{ NGINX_CLIENT_HEADER_TIMEOUT | default('30s') }};
        client_body_timeout {{ NGINX_CLIENT_BODY_TIMEOUT | default('60s') }};
        keepalive_timeout {{ NGINX_KEEPALIVE_TIMEOUT | default('30s') }};

        # Allow requests to take long, big backups takes long to generate and to send
        fastcgi_read_timeout {{ NGINX_FASTCGI_READ_TIMEOUT | default('7200s') }};
        fastcgi_send_timeout {{ NGINX_FASTCGI_SEND_TIMEOUT | default('7200s') }};

        location / {
            try_files $uri /index.php$is_args$args;
        }

        location ~ ^/api/stable/repository/collection/([A-Za-z0-9\-]+)/versions$ {
            client_body_temp_path /home/backuprepository/var/tmp;
            client_body_in_file_only   clean;
            client_body_buffer_size    1M;

            fastcgi_pass_request_body          off;
            fastcgi_pass_request_headers       on;

            include /etc/nginx/fastcgi.conf;
            fastcgi_param  X_INTERNAL_FILENAME $request_body_file;
            fastcgi_param  SCRIPT_FILENAME     $document_root/index.php;
            fastcgi_param  SCRIPT_NAME         index.php;

            fastcgi_index                      index.php;
            fastcgi_pass                       localhost:9000;

            break;
        }

        location ~ ^/index\.php(/|$) {
            include /etc/nginx/fastcgi.conf;

            fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
            fastcgi_param  SCRIPT_NAME        $fastcgi_script_name;

            fastcgi_index index.php;
            fastcgi_pass  localhost:9000;
            try_files $fastcgi_script_name =404;
        }

        location ~ /\.ht {
            deny all;
        }
    }
}
