user www-data;
daemon off;
worker_processes {{ NGINX_WORKER_PROCESSES }};
pid /home/backuprepository/nginx.pid;

events {
    worker_connections {{ NGINX_WORKER_CONNECTIONS }};
    # multi_accept on;
}

http {
    sendfile {{ NGINX_SENDFILE }};
    tcp_nopush {{ NGINX_TCP_NOPUSH }};
    tcp_nodelay {{ NGINX_TCP_NODELAY }};
    keepalive_timeout {{ NGINX_KEEPALIVE_TIMEOUT }};
    types_hash_max_size {{ NGINX_TYPES_HASH_MAX_SIZE }};
    client_max_body_size {{ NGINX_CLIENT_MAX_BODY_SIZE }};
    server_tokens off;
    max_ranges 1;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    fastcgi_temp_file_write_size {{ NGINX_FCGI_TEMP_WRITE_SIZE }};
    fastcgi_busy_buffers_size {{ NGINX_FCGI_BUSY_BUFF_SIZE }};
    fastcgi_buffer_size {{ NGINX_FCGI_BUFF_SIZE }};
    fastcgi_buffers {{ NGINX_FCGI_BUFFERS }};
    proxy_request_buffering {{ NGINX_REQUEST_BUFFERING }};

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    gzip {{ NGINX_GZIP }};
    gzip_disable "msie6";

    server {
        listen 80 default_server;
        server_name _;

        root /home/backuprepository/public;
        index index.html index.php;


        location / {
            try_files $uri /index.php$is_args$args;
        }

        # turn off requests buffering for backup collections
        location ~ ^/api/stable/repository/collection/([A-Za-z0-9\-]+)/versions$ {
            fastcgi_request_buffering off;
            try_files $uri /index.php$is_args$args;
        }

        location ~ ^/index\.php(/|$) {
            fastcgi_param  GATEWAY_INTERFACE  CGI/1.1;
            fastcgi_param  SERVER_SOFTWARE    RiotKit-Docker-Container;
            fastcgi_param  QUERY_STRING       $query_string;
            fastcgi_param  REQUEST_METHOD     $request_method;
            fastcgi_param  CONTENT_TYPE       $content_type;
            fastcgi_param  CONTENT_LENGTH     $content_length;
            fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
            fastcgi_param  SCRIPT_NAME        $fastcgi_script_name;
            fastcgi_param  REQUEST_URI        $request_uri;
            fastcgi_param  DOCUMENT_URI       $document_uri;
            fastcgi_param  DOCUMENT_ROOT      $document_root;
            fastcgi_param  SERVER_PROTOCOL    $server_protocol;
            fastcgi_param  REMOTE_ADDR        $remote_addr;
            fastcgi_param  REMOTE_PORT        $remote_port;
            fastcgi_param  SERVER_ADDR        $server_addr;
            fastcgi_param  SERVER_PORT        $server_port;
            fastcgi_param  SERVER_NAME        $server_name;

            fastcgi_param  X_REAL_IP          $http_x_real_ip;
            fastcgi_param  X_FORWARDED_FOR    $proxy_add_x_forwarded_for;

            fastcgi_split_path_info ^(.+\.php)(/.+)$;

            try_files $fastcgi_script_name =404;
            set $path_info $fastcgi_path_info;
            fastcgi_param PATH_INFO $path_info;
            fastcgi_index index.php;

            # Allow requests to take long, big backups takes long to generate and send
            fastcgi_read_timeout 7200s;
            fastcgi_send_timeout 900s;

            fastcgi_pass localhost:9000;
        }

        location ~ /\.ht {
            deny all;
        }
    }
}
