<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Controller</directory>
            <directory suffix=".php">./src/Migrations</directory>
        </exclude>
        <report>
            <clover outputFile="var/tests/unit.coverage.xml"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="FS_ADAPTER" value="local"/>
        <env name="JWT_PASSPHRASE" value="fc0774955def1f2e92e6bdcad18a9f97"/>
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem" />
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem" />
        <env name="JWT_LIFETIME" value="+1 hour" />
        <server name="DATABASE_URL" value="postgres://chomsky:chomsky@127.0.0.1:5432/chomsky"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <!-- set this option to 0 to disable the DebugClassLoader integration -->
                    <element key="debug-class-loader">
                        <integer>0</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
    <logging>
        <junit outputFile="var/tests/unit.junit.xml"/>
    </logging>
</phpunit>
