body {
    background-color: #333;;
}

img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.header {
    position: relative;
    z-index: 1;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #666;
}

.menu {
    float: right;
}

.menu_left {
    float: left;
}

.image_container {

}

.menu_button {
    padding-top: 13px;
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    border-width: 0;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.menu_button:hover {
    background-color: #0074d9;
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}