[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
unittest-data-provider = "*"
coverage = "*"

[packages]
requests = "*"
pyyaml = "*"
sentry-sdk = "*"
simplejson = "*"
psycopg2-binary = "*"
pycurl = "*"
certifi = "*"
