#
# File name mapping for file downloading
# --------------------------------------
#  Purpose: Allows to create multiple aliases for a file name
#  Example usage: When you migrate from other file storage application to the File Repository
#                 then you probably have files with names without eg. hash
#                 After you import all files to the File Repository and rewrite urls on eg. NGINX
#                 still the identifiers are different. File Repository uses hash + filename and other storage
#                 may use other naming convention.
#
#
#  To enable this file simply rename it removing the ".example" from the filename.
#


some_name: 3fcfca2d27d1681e2b72b07709174ec8a8bb618666b5d4c4a18618f974350deb_image.jpg
"example-alias": "c7beb8a9f0mapped.txt"
