<!DOCTYPE html>
<html lang="pl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <title>File upload</title>
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <meta name="viewport" content="width=776, height=431">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex">

        <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <style>
            .container{
                margin-top:20px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <form method="POST" action="{{ path('public.upload.files') }}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputFile">Send a file</label>

                            <input type="hidden" name="_token" value="{{ tokenId }}">
                            <input type="hidden" name="file_name" id="file_name" value="">
                            <input type="file" class="form-control-file" id="file_input" name="upload" aria-describedby="fileHelp">
                            <input type="hidden" name="back_url" value="{{ backUrl }}">
                            <small id="fileHelp" class="form-text text-muted">
                                {{ allowedMimeTypes }}
                            </small>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Send">
                    </form>
                </div>
            </div>
        </div>

        <script>
            function basename (path, suffix) {
                //  discuss at: http://locutus.io/php/basename/
                // original by: Kevin van Zonneveld (http://kvz.io)
                // improved by: Ash Searle (http://hexmen.com/blog/)
                // improved by: Lincoln Ramsay
                // improved by: djmix
                // improved by: Dmitry Gorelenkov
                var b = path
                var lastChar = b.charAt(b.length - 1)

                if (lastChar === '/' || lastChar === '\\') {
                    b = b.slice(0, -1)
                }

                b = b.replace(/^.*[\/\\]/g, '')

                if (typeof suffix === 'string' && b.substr(b.length - suffix.length) === suffix) {
                    b = b.substr(0, b.length - suffix.length)
                }

                return b;
            }

            document.getElementById("file_input").addEventListener("change", function () {
                document.getElementById('file_name').value = basename(document.getElementById('file_input').value);
            }, true);
        </script>
    </body>
</html>