{% extends "minimumui/Layout.html.twig" %}

{% block title %}File upload{% endblock %}
{% block js_libraries %}
    <script src="/minimumui/components/filepond/dist/filepond.js"></script>
    <script src="/minimumui/components/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="/minimumui/components/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="/minimumui/components/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/minimumui/components/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block js_app %}
    <script src="/minimumui/js/file_upload.js"></script>
{% endblock %}

{% block css_libraries %}
    <link rel="stylesheet" href="/minimumui/components/filepond/dist/filepond.css">
    <link  href="/minimumui/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/minimumui/components/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <input type="file"
                       class="filepond"
                       name="filepond"
                       multiple
                       />
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            window.app = new FileUpload('{{ tokenId }}');
        });
    </script>
{% endblock %}
