{% extends "minimumui/Layout.html.twig" %}

{% block title %}Pick an image to upload and crop{% endblock %}
{% block js_libraries %}
    <script src="/minimumui/components/cropperjs/dist/cropper.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/minimumui/components/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block js_app %}
    <script src="/minimumui/js/image_upload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.app = new ImageUpload({% if not aspectRatio %}null{% else %}{{ aspectRatio }}{% endif %}, '{{ tokenId }}', '{{ backUrl }}');
            document.getElementById('file').addEventListener('change', window.app.handleImageUpload, false);
        });
    </script>
{% endblock %}

{% block css_libraries %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link  href="/minimumui/components/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <link  href="/minimumui/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/minimumui/css/image_upload.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Navigation bar -->
    <header class="header">
        <div class="menu_left">
            <a data-action="clear" title="Move" class="menu_button" onclick="window.app.changeMode('move')">
                <span class="fa fa-arrows"></span>
            </a>

            <a data-action="clear" title="Crop" class="menu_button" onclick="window.app.changeMode('drag')">
                <span class="fa fa-crop"></span>
            </a>
        </div>

        <div class="menu">
            <label for="file" title="Upload" class="menu_button">
                <span class="fa fa-upload"></span>
            </label>
            <a data-action="clear" title="Cancel" class="menu_button">
                <span class="fa fa-ban"></span>
            </a>
            <a data-action="crop" title="Crop" class="menu_button" onclick="window.app.crop();">
                <span class="fa fa-crop"></span>
            </a>
            <a data-action="crop" title="Accept" class="menu_button" onclick="window.app.accept();">
                <span class="fa fa-check"></span>
            </a>

            <input id="file" type="file" accept="image/*" class="sr-only">
        </div>
    </header>

    <!-- Image container -->

    <div class="image_container">
        <img id="image" style="display: none;">
    </div>
{% endblock %}
