<!DOCTYPE html>
<html lang="pl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

{% block head %}
    <head>
        <title>{% block title %}File upload{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <meta name="viewport" content="width=776, height=431">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex">

        <!-- libraries -->
        {% block js_libraries %}{% endblock %}

        {% block css_libraries %}
        {% endblock %}
    </head>
{% endblock %}

<body>
{% block body %}
{% endblock %}

{% block upload_modals %}
<!-- Submit modal -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="submitForm">

                    {% if tags %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tags</label><br>

                            {% for tag in tags %}
                                <input type="checkbox" name="tags[]" value="{{ tag }}"> {{ tag }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if passwordIsAllowed %}
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password (optional)</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="exampleInputPassword1">Filename</label>
                        <input type="text" class="form-control" name="fileName" placeholder="Filename">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Cancel</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button" onclick="window.app.upload()">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="linkConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">URL address</label>
                    <input type="text" class="form-control" name="fileName" id="resultUrl" placeholder="Filename" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}

<!-- application -->
<script src="/minimumui/js/base_upload.js"></script>
{% block js_app %}{% endblock %}

</html>
