.btn {
    background-color: $primary-btn-bg !important;
    border-color: $primary-btn-border !important;
    color: black !important;
    font-weight: bold;

    &:hover, &:focus {
        border-color: transparent !important;
        background-color: $primary-btn-hover-bg!important;
    }
}

.page-link {
    color: black !important;
    font-size: 12px;
}

.pagination-link--active {
    color: black !important;
    font-weight: bold;
    background-color: $primary-btn-bg !important;
    border-color: $primary-btn-border !important;
}

.filter-panel .form-group {
    margin-right: 25px;
}

.filter-panel label {
    margin-right: 15px !important;
}
